.footer{
    background: linear-gradient(#1e3a8a, #080F24);
    width: 100%;
}
a, p{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 10pt;
}
h4{
    color: #FFFFFF;
    font-size: 13pt;
    font-family: "Poppins";
    font-weight: 500;
}
.content{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content-up{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 200px 0 200px;
}
.iconos img{
    width: 30px;
    height: 30px;
}
.info img{
    width: 30px;
    height: 30px;
}
.info a{
    display: flex;
    align-items: center;
}