#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header-navbar {
  background-color: #1e3a8a;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px 50px 0px 50px;
}
.header-navbar img {
  width: 40px;
  height: 40px;
}
.header-navbar p {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 12pt;
  font-weight: 700;
  margin: 0px 0px 0px 10px;
}
.nav-logo a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sections ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.sections ul li {
  padding: 0 0px 0 0px;
  display: flex;
  align-items: center;
}
.sections ul li a {
  margin: 0;
  font-family: "Poppins";
  font-size: 10pt;
  height: 55px;
  width: 100%;
  padding: 0px 10px 0px 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sections ul li a:hover {
  background: linear-gradient(#1e3a8a, #10b981);
}
.sections ul li a:active {
  background: linear-gradient(#1e3a8a, #10b981);
}

#mobile {
  display: none;
}

#mobile {
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 55px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: linear-gradient(#1e3a8a, #000000);
    transition: 0.3s ease-in-out;
    z-index: 10;
  }

  #navbar.active {
    right: 0px;
  }

  .sections ul li a {
    width: 270px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
